//colors used
//Primary Dark Navy Blue
// #0D1F30
// Secondary Orange
// #DB6C0F
// color - blueish green
// #3B6670
// Color - light blue
// #8BADA3
// color - light tan
// # F0E3C0

//fonts used
//font-family: 'Comfortaa', cursive;
//font-family: 'League Spartan', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=League+Spartan&display=swap");

$fonts-header: "Comfortaa", cursive;
$fonts-body: "League Spartan", sans-serif;
$background-color: #0d1f30;
$primary: #0d1f30;
$accent1: #db6c0f;
$accent2: #3b6670;
$accent3: #8bada3;
$text-color: #f0e3c0;
$div-padding: 1rem;
